header {
    padding-top: 14.8rem;
    padding-bottom: 3.2rem;
}
.header-title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 4rem;
    line-height: 95%;
    text-transform: uppercase;
    text-align: center;
    color: #e3fe73;
}
header .under-title-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
}

.header-zone{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 3.8rem;
}
.header-zone-p{
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 20px;
    line-height: 250%;
    text-transform: uppercase;
    color: #fff;
}
.header-zone-item{
    border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 15rem;
width: 18.1rem;
height: 6.1rem;
backdrop-filter: blur(10px);
background: rgba(255, 255, 255, 0.2);
display: flex;
justify-content: center;
align-items: center;
gap: 0.9rem;
}
.header-zone-only{
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 2rem;
    line-height: 250%;
    text-transform: uppercase;
    color: #fff;
}
.header-zone-price{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 4rem;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.header-btn-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12.6rem;
}
.header-btn-wrap p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.6rem;
line-height: 312%;
text-align: center;
color: #fff;
}
.header-btn{
    width: 38rem;
    height: 7rem;
    background: #e3fe73;
    border-radius: 15rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2rem;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    display: flex;
    justify-content: center;
    align-items:center ;

}
.burger-menu {

}
.burger-icon {
    width: 4rem;
    height: 1.4rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.burger-icon div {
    width: 3.2rem;
    border: 1px solid #fff;
}
.burger-icon div:nth-child(2n) {
    width: 3.2rem;
    border: 1px solid #fff;
}
.menu {
    position: fixed;
    top: 0;
    left: 200%;
    width: 100%;
    height: 100vh;
    background: white;
    transition: left 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13.2rem;
    opacity: 0;
    max-width: 42.8rem;
}
.menu.active {
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
}
.menu a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}
.close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}
.dropdown{
    display: none;
}
.menu-text-wrap{
    display: flex;
    gap: 5rem;
    flex-direction: column;
    margin-bottom: 14.2rem;
    align-items: center;
}
.menu-bottom-wrap p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.6rem;
text-align: center;
color: #bababa;
}
.menu-bottom-wrap h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin-top: 2rem;
    margin-bottom: 2.9rem;
}

.menu-bottom-wrap p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: #000;
}
.menu-bottom-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rect{
    border-radius: 100%;
    background: rgba(227, 254, 115, 0.7);
    filter: blur(15rem);
    position: absolute;
    z-index: -1;
    right: -28rem;
    top: 30rem;
    height: 48.1rem;
    width: 33.4rem;
}

.top-wrap{
    height: 8.1rem;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
    padding: 0rem 3rem 0rem 3rem;
    max-width: 428px;
    position: relative;
}

.dropbtn {
    background: none;
    color: white;
    font-size: 1.8rem;
    font-family: var(--font-family);
    font-weight: 300;
    border: none;
    cursor: pointer;
    width: 4rem;
}



.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a1a1a;;
    min-width: 6.9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}


.dropdown-content a:hover {background-color: #2a2a2a;}


.show {display:block;}
